table.athlete {
    
        width: 100%;
    

    thead{

        font-size: 11px;
        background-color: #f7f7f7;
        color: #919191;
  
    }

    tbody{
        tr {
            border:1px solid #ddd;
            td{
                &:nth-child(1){
                    padding:0 5px;   
                    text-align: center;
                }
                &:nth-child(1){
                    padding:10px 0px;   
                    
                }
            }
        }
    }
}



.nameContainer {
    position: relative;

    .nameTruncated {
        position: absolute;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        top: 5px;
    }
}