table.athlete {
    
        width: 100%;
    

    thead{

        font-size: 11px;
        border-bottom:1px solid #e3e3e3;
        color: #919191;
  
    }

    tbody{
        tr {
            border-bottom:1px solid #e3e3e3;
            th{
                padding:5px 0;
            }
            td{

                // no
                &:nth-child(1){
                    padding:0 5px;   
                    text-align: center;
                }

                // picture
                &:nth-child(2){
                    padding:7px 0px;   
                    
                }

             
              
                 //sped
                //  &:nth-child(4){
                //     padding:15px 0px;   
                    
                // }

                 //time
                 &:nth-child(5){
                    padding-right:20px; 
                    text-align: right;
                }
            }
        }
    }
}