.icon-pr {
    height: 24px;
    width: 24px;
    background-image: url(https://d3nn82uaxijpm6.cloudfront.net/assets/svg/icon-at-pr-01-a1b79d451bc0d9f8c49972f2a97b0f71ba4fecf28e908474a66a26d7043630c5.svg);
}